{% extends "layout.html" %}

{% block content %}
    
  <header class="slider-images">
  	imagenes que cambian
  </header>

	<div class="container">

		<header class="header">
			<div class="servicios">
				Servicios 
			</div>
			<div class="slider">
				<div class="gallery">
					<img src="http://breakpoint-sass.com/images/point-break/no-chute.png" alt="">
					<img src="http://breakpoint-sass.com/images/point-break/no-chute.png" alt="">
					<img src="http://breakpoint-sass.com/images/point-break/no-chute.png" alt="">
					<img src="http://breakpoint-sass.com/images/point-break/no-chute.png" alt="">
					<img src="http://breakpoint-sass.com/images/point-break/no-chute.png" alt="">
				</div>
			</div>
		</header>
	
		<div class="section">
			<div class="content">
				Content
			</div>
			<div class="sidebar-first">
				Sidebar First
			</div>
			<div class="sidebar-second">
				Sidebar Second
			</div>
		</div>
	</div>

{% endblock %}
